HOST=127.0.0.1
PORT=3333
NODE_ENV=development
APP_URL=http://${HOST}:${PORT}

CACHE_VIEWS=false

APP_KEY=

DB_CONNECTION=sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=adonis

SESSION_DRIVER=cookie
HASH_DRIVER=bcrypt

AWS_ACCESS_KEY="XXXXXXXXXXXXX"
AWS_SECRET_KEY="XXXXXXXXXXXXX"
AWS_REGION="us-east-1"
AWS_ACTIVITY_ARN_DEMOWORKERACTIVITY = "arn:aws:states:us-east-1:XXXXXXXXXXXXX:activity:DemoWorkerActivity"
AWS_STATEMACHINE_ARN="arn:aws:states:us-east-1:XXXXXXXXXXXXX:stateMachine:DemoWorkerStateMachine"

